<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>nuevo</h1>
    nombre=<%=nombre%>
    edad=<%=edad%>
    <form action="/cliente/guardar" method="post">
        <input autocomplete="off" type="text" name="apellido" id="" placeholder="Apellidos">
        <input autocomplete="off" type="text" name="ci" id="" placeholder="ci">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>